*{
    box-sizing: border-box;
}

:root{
    --primary-blue: #2C3E50;
    --secondary-blue: #3A546D;
    --bg-green: #1ABC9C;
    --bg-box-1: #A45364;
    --bg-box-2: #5EA0B2;
    --bg-box-3: #1A1716;
    --bg-box-4: #5081BA;
    --bg-box-5: #313CAC;
    --bg-box-6: #C4B1A3;
    --color-h2: #333333;
    --color-icon: #2C3E50;
}

/* [class^="container"]{
    background-color: rgba(0, 128, 0, 0.3);
    border: 1px solid black;
} */

.debug{
    background: red;
    border: 1px solid black;
}


img{
    max-width: 100%;
}

body{
    padding: 0 !important;
    margin-top: 100px;
}

h2{
    color: var(--color-h2);
}

/* utils */

.gm_pt-lg{
    padding-top: 5rem;
}

.gm_pb-lg{
    padding-bottom: 5rem;
}

.gm_px-lg{
    padding: 0 6rem;
}

.star{
    color: var(--color-icon);
}

header{
    background-color: var(--primary-blue);
    height: 100px;
}

header i:hover{
    cursor: pointer;
    color: grey;
}

header ul{
    margin: 0;
}

header ul li a:hover{
    filter: brightness(.7);
}

/* JUMBOTRON */
.jumbo{
    background-color: var(--bg-green);
    height: 700px;
}

.jumbo .container-sm{
    height: 85%;
}

/* MAIN */

/* portfolio */
.star .line{
    border-top: 5px solid var(--color-icon);
    border-radius: 20px;
}

/* about */
.about{
    background-color: var(--bg-green);
}

.about .container-md:first-child .star .line{
    border-top: 5px solid white;
    border-radius: 20px;
}

.about .container .row .btn-dwn{
    width: 150px;
    height: 50px;
}

.about .container .row .btn-dwn:hover{
    cursor: pointer;
    background-color: white;
}

.about .container .row .btn-dwn:hover > *{
    color: var(--bg-green) !important;
}


/* contact me */
.contact form > *:not(:last-child){
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.contact form > *{
    color: var(--color-icon);
    font-weight: 600;
}

.contact form > *:focus{
    box-shadow: none;
}

.contact .container .row form{
    padding: 0; 
}

.contact .container .row form .button{
    width: 80px;
    height: 50px;
}

.contact .container .row form .button a{
    background: var(--bg-green);
}

.contact .container .row form .button a:hover{
    filter: brightness(.8);
}

/* footer */
footer{
    background-color: var(--secondary-blue);
}

footer .container .icons > *{
    width: 60px;
    height: 60px;
    min-width: 60px;
}
footer .container .icons > *:hover{
    cursor: pointer;
    background-color: var(--primary-blue);
}

footer .container-fluid{
    background-color: var(--primary-blue);
}
