
:root{
    --primary-blue: #2C3E50;
    --secondary-blue: #3A546D;
    --bg-green: #1ABC9C;
}

/* [class^="container"]{
    background-color: rgba(0, 128, 0, 0.3);
    border: 1px solid black;
} */

.debug{
    background: red;
    border: 1px solid black;
}

body{
    padding: 0 !important;
    margin-top: 100px;
}

header{
    background-color: var(--primary-blue);
    height: 100px;
}

header i:hover{
    cursor: pointer;
    color: grey;
}

header ul{
    margin: 0;
}

header ul li a:hover{
    filter: brightness(.7);
}

/* JUMBOTRON */
.jumbo{
    background-color: var(--bg-green);
    height: 700px;
}

.jumbo .container-sm{
    height: 85%;
}